/* CSS Document */
*{margin:0;padding:0;font-size:12px;}
body{ background:none;}
input,button,select,textarea{outline:none;}
ul,li,dl,ol{list-style:none;}
a{color:#666; text-decoration:none;}

/*
.bcon{ width:500px; border:1px solid #eee; margin:30px auto;}
.bcon h1{ border-bottom:1px solid #eee; padding:0 10px;}
.bcon h1 b{ font:bold 14px/40px '宋体'; border-top:2px solid #3492D1; padding:0 8px; margin-top:-1px; display:inline-block;}

.list_lh{ height:400px; overflow:hidden;}
.list_lh li{ padding:10px;}
.list_lh li.lieven{ background:#F0F2F3;}
.list_lh li p{ height:24px; line-height:12px;}
.list_lh li p a{ float:left;}
.list_lh li p em{ width:80px; font:normal 12px/24px Arial; color:#FF3300; float:right; display:inline-block;}
.list_lh li p span{ color:#999; float:right;}
*/

/*index样式*/
#toIndex{margin-left: 50rem;}
#swiper_6{background-color: #fcfce7;background-image: url('../../images/index/e1.png');background-size: 100% 100%; background-repeat: no-repeat;}

/*index适配*/
/*横向放置的手机分辨率*/
@media screen and (max-width:767px) {
    /*后续补充*/
}
/*竖向放置的手机以及分别率*/
@media screen and (max-width: 480px) {
    #plate{width: 330px !important;}
    #toIndex{margin-left: 18rem;padding: 0 0 !important;}
    #swiper_6{background-color: #fcfce7;background-image: url('../../images/index/e1.png');background-size: 100% 100%; background-repeat: no-repeat;}
}
