<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<!--添加自适应标签-->
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" shrink-to-fit=no">
	<title>甜先森</title>
	<!--title上面添加icon-->
	<link rel="shortcut icon" href="../../../../images/head/head.png"/>
</head>

	<!--引入外部样式-->
	<link href="../../../../product/bootstrap/css/bootstrap.css" rel="stylesheet">
	<link href="../../../../css/quanzhan/linux/slide.css" rel="stylesheet">
	<!--jqueryui-->
	<link href="../../../../product/jqueryui/jquery-ui.min.css" rel="stylesheet">
	<link href="http://jqueryui.com/resources/demos/style.css" rel="stylesheet">

<body>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-2">
                <!--left-->
                <ul id="nav">
                    <li>
                        <a href="#saltstack">saltstack</a>
                        <ul>
                            <li  class="current">
                                <a href="#jczs">基本知识</a>
                            </li>
                            <li>
                                <a href="#az">saltstack安装</a>
                            </li>
                            <li>
                                <a href="#sjxt">saltstack数据</a>
                            </li>
                            <li>
                                <a href="#yczx">深入学习远程执行</a>
                            </li>
                            <li>
                                <a href="#pzgl">saltstack配置</a>
                            </li>
                            <li>
                                <a href="#yaml">yaml语法</a>
                            </li>
                            <li>
                                <a href="#xtcsh">系统初始化</a>
                            </li>
                            <li>
                                <a href="#gnmk">功能模块</a>
                            </li>
                            <li>
                                <a href="#ywyy">业务引用</a>
                            </li>
                            <li>
                                <a href="#kd">keeeplived</a>
                            </li>
                            <li>
                                <a href="#ywyyk">业务引用keepalived</a>
                            </li>
                            <li>
                                <a href="#zjzabbix">增加zabbix</a>
                            </li>
                            <li>
                                <a href="#jgkz">架构扩展</a>
                            </li>
                            <li>
                                <a href="#syndic">去掉机器syndic</a>
                            </li>
                            <li>
                                <a href="#etcd">etcd模块</a>
                            </li>
                            <li>
                                <a href="#zdhkr">自动化扩容</a>
                            </li>
                            <li>
                                <a href="#zj">总结</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
            <div class="col-md-10">
                <!--container-->
                <div id="container">
                    <div class="section" id="jczs">
                        <h2>cobbler基础知识</h2>
                        <pre class="prettyprint linenums">
                            <ol class="linenums">
saltstack：
	三种运行方式
		local
		master/minion
		salt ssh
	三大功能
		远程执行
		配置管理
		云管理
                            </ol>
                        </pre>
                    </div>
                    <div class="section" id="az">
                        <h2>saltstack安装</h2>
                        <pre class="prettyprint linenums">
                            <ol class="linenums">
安装：
    一台机器master/两台minion
    第一台：yum install salt-master salt-minion -y
    第二胎：yum insatll salt-minion -y
    添加开机启动：chkconfig salt-master on
              chkconfig salt-minion on
    启动：
        master：/etc/init.d/salt-master start
        配置minion
        vi /etc/salt/minion
        master:10.0.0.7
        查看主机名称：hostname
        修改master
        master:10.0.0.7
    saltstack管理其他主机：
        查看公钥和私钥的存放位置：cd /etc/salt/pki/master   或者	cd /etc/salt/pki/minion
        查看当前未管理主机列表：tree / salt-key
        同意管理：salt-key -a linux-node*
        此时查看tree法案先位置更换了
    1.远程执行
    第一种方式：
        查看主仆之间通信是否正常	salt ‘*’ test.ping
        在所有机器上面执行同样的操作	salt '*' cmd.run 'df -h'
        vi /etc/salt/master
        将下面的配置文件注释放开
        file_roots:
            base:
            - /srv/salt
        创建该文件mkdir /src/salt
        重启saltstack /etc/init.d/salt-master restart
    编辑salt文件
    cd /srv/salt
    vi apache.sls
    apache-install:
      pkg.installed:
        - names:
        - httpd
        - httpd-devel

    apache-service:
      service.running:
        - name: httpd
        - enable: True
        - reload: True
        执行上面安装和启动命令：salt '*' state.sls apache
        查看端口运行什么服务：lsof -i:80
    第二种方式：top.sls必须放在base环境下
        vi top.sls /src/salt
        base:
          '*':
            - apache
        执行sls文件：salt '*' state.highstate
                            </ol>
                        </pre>
                    </div>
                    <div class="section" id="sjxt">
                        <h2>saltstack数据系统</h2>
                        <pre class="prettyprint linenums">
                            <ol class="linenums">
saltstack数据系统
	Grains(存放在minion端[用于收集saltstack启动信息])/pillar
	把所有grains名称列举出来
	salt 'linux-node1*' grains.ls
	或者
	salt 'linux-node1*' grains.items
	显示单个名称内容：
	salt 'linux-nodel*' grains.item_fqdn
	或者
	salt 'linux-nodel*' grains.get fqdn
	查看所有机器IP地址：
	salt 'linux-nodel*' grains.get ip_interfaces:eth0
	想要在所有centos的机器上面执行命令
	salt -G os:CentOS cmd.run 'w'
	自定义grains
	vi /etc/salt/minion
	找到grains，放开以下注释信息
	grains:
	  roles:
	    - webserver
	    - memcache
	grains配置文件，只有在重启的时候才会收集信息，所以必须要重启
	./etc/init.d/salt-minion restart
	测试：salt -G 'roles:memcache' cmd.run 'echo hehe'
	写在grains目录下也可以vi /etc/salt/grains
	web:nginx(键唯一)
	/etc/init.d/salt-minion restart
	salt -G web:nginx cmd.run 'w'
	grains用法：
	1.用来收集系统启动底层信息
	2.远程执行中匹配minion
	3.可以在topfile中过滤哪些机器执行那些状态
	  vi /srv/salt/top.sls
	  base:
	    'web:nginx':
	      - match:grain
	      - apache

grains实在minion中配置
	pillar实在master中配置
	查看系统中pillar	salt '*' pillar.items
	打开pillar选项
	vi /etc/salt/master
	pillar_opts:True
	重新启动：/etc/init.d/salt-master restart
	再次查看已经有了  salt '*' pillar.items
	修改回原配置	pillar_opts:False
	重新启动：/etc/init.d/salt-master restart

	打开pillar基础base环境
	vi /etc/salt/master
	pillar_roots:
	  base:
	    - /srv/pillar
	重新启动：/etc/init.d/salt-master restart
	mkdir /srv/pillar
	vi /srv/pillar/apache.sls
	{% if grains['os'] == 'CentOS' %}
	apache: httpd
	{% elif grains['os'] == 'Debian' %}
	apache:apache2
	{% endif %}
	vi /src/pillar/top.sls
	base:
	  '*':
	    - apache
	查看pillar	salt '*' pillar.items
	pillar可以和grains一样定位主机
	salt -I 'apache:httpd' test.ping
	如果上面主机不能ping通或不能使用的时候，可以尝试刷新一下
	salt '*' saltutil.refresh_pillar
	salt -I 'apache:httpd' test.ping

	grains和pillar区别
	名称		数据类型		数据采集更新方式			应用

grains	minion端	静态数据	minion启动时收集数据，启动有效		存储minion基本数据，比如匹配minion
					或者使用saltutil.sync_grains进行刷新	自身数据可以用来做资产管理


pillar	master端	动态数据	master端定义，指定给对应的minion	存储master指定数据，只有指定minion
					可以使用saltutil.refresh_pillar刷新	可以看到，用于敏感数据保存
                            </ol>
                        </pre>
                    </div>
                    <div class="section" id="yczx">
                        <h2>深入学习远程执行</h2>
                        <pre class="prettyprint linenums">
                            <ol class="linenums">
深入学习远程执行
	salt	 '*' 	cmd.run 	'w'
	命令 	目标	模块方法	参数
	远程执行三部分内容：目标(targeting) 模块(module) 返回(returnners)
	minion_id:linux-nodel.example.com（=主机名）
	通配符案例：
	salt 'linux-node1.example.com' cmd.run 'w'
	salt 'linux-node?.example.com' cmd.run 'w'
	salt 'linux-node[1-2].example.com' cmd.run 'w'
	salt 'linux-node[1,2].example.com' cmd.run 'w'
	正则表达式
	base环境top.sls	-> 称:topfile
	salt -S '10.0.0.7' test.ping
	salt -C 'S@10.0.0.8 or G@web:nginx' test.ping
	salt -C 'S@10.0.0.8 not G@web:nginx' test.ping
	service模块
	查看哪些服务在运行	salt '*' service.get_all
	查看哪些服务没有在运行	salt '*' service.missing sshd
	重载一下		salt '*' service.[reload/status/restart/start]
	用户访问权限控制
	vi /etc/salt/master
	放开注释信息
	client_acl:
	  主机名:
	    - test.ping
	    - network.*
	/etc/init.d/salt-master restart
	添加用户useradd oldboy
		passwd oldboy
	给新创建的用户授权
	chmod 755 /var/cache/salt /var/cache/salt/master
	/var/cache/salt/master/jobs /var/run/salt /var/run/salt/master
	测试权限：
	salt '*' cmd.run 'w'(失败)
	salt '*' test.ping（成功）
	测试权限2
	client_acl:
	  oldboy:
	    - test.ping
	    - network.*
	  user01:
	    - linux-node1*:
	    - test.ping
	useradd user01
	salt '*' test.ping
	salt 'linux-node1*' test.ping(成功)
	黑名单(让某个用户不能做某件事情)
	返回
	1.根据官网创建表结构
	2.授权：grant all on salt.* to salt@'10.0.0.0/255.255.255.0' identified by 'salt';
	3.安装依赖:yum install MySQL-Python
	4.返回程序时minion返回,所有minion端都需要安装依赖
	5.格式化输出mysql数据select * from user\G;
	6.mysql授权全部用户grant all on salt.* to salt@'%' identified by 'salt';
	7.salt命令结果返回至数据库保存
	8.在minion中写入配置，使得返回结果集至minion
	  第一台：
	  vi /etc/salt/minion
	  mysql.host:'10.0.0.7'
	  mysql.user:'salt'
	  mysql.pass:'salt'
	  mysql.db:'salt'
	  mysql.port:3306
	 /etc/init.d/salt-minion restart
	  第二台：
	  vi /etc/salt/minion
	  mysql.host:'10.0.0.7'
	  mysql.user:'salt'
	  mysql.pass:'salt'
	  mysql.db:'salt'
	  mysql.port:3306
	 /etc/init.d/salt-minion restart
	 执行测试命令：salt '*' test.ping --return mysql
	 查看数据库中select * from salt_returns;
	 查看结果已有结果集
	9.在master中写入配置，利用master_cache返回至数据库
	  vi /etc/salt/master
	  #return mysql
	  master_job_cache:mysql
	  mysql.host:'10.0.0.7'
	  mysql.user:'salt'
	  mysql.pass:'salt'
	  mysql.db:'salt'
	  mysql.port:3306
	/etc/init.d/salt-master restart
	执行测试命令：salt '*' cmd.run 'free -m'
	查看结果：select * from salt_returns\G;
                            </ol>
                        </pre>
                    </div>
                    <div class="section" id="pzgl">
                        <h2>saltstack配置管理</h2>
                        <pre class="prettyprint linenums">
                            <ol class="linenums">
saltstack配置管理
	基于远程执行，使用状态模块
	主要工作：编写sls文件
	使用yaml语法
	topfile时所有sls文件的入口文件
	cat /etc/salt/top.sls
	base:
	  'web:nginx':
	    - match:grain
	    - apache
	1.vi /etc/salt/master
	  指定状态放在那些地方
	  file_roots:
	    base:
	      - /srv/salt
	2.修改上面配置:
	  file_roots:
	    - /srv/salt/base
	  test:
	    - /srv/salt/test
	  prod:
	    - /srv/salt/prod
	  /etc/init.d/salt-master restart
	mkdir /srv/salt/base
	mkdir /srv/salt/base/files 	//保存创建文件
	mkdir /srv/salt/test
	mkdir /srv/salt/prod
	将topdile文件放在新创建的base目录下	mv apache.sls top.sls base/
	1.vi /srv/salt/base/dns.sls
	/etc//resolv.conf:
	  file.managed:
	    - source: salt://files/resolv.conf
	    - user: root
	    - group: root
  	    - mode: 644
	cp /etc/resolv.conf files/
	vi files/resolv.conf 	//删除第一行内容
	第一种测试方法
	salt '*' state.sls dns	//使得另外一个minion和本机minion中的resolv.conf文件一样
	第二种测试方法(高级状态，读取topfile文件)
	vi /srv/salt/base/top.sls
	base:
	  '*':
	    - dns
	vi /srv/salt/base/files/resolv.conf
	#haha
	salt '*' state.hightstate
                            </ol>
                        </pre>
                    </div>
                    <div class="section" id="yaml">
                        <h2>yaml语法</h2>
                        <pre class="prettyprint linenums">
                            <ol class="linenums">
yaml语法
	规则一
	使用一个固定的缩进风格表示数据层结构关系
	salt需要每个缩进级别由两个空格组成
	不要使用tabs
	规则二
	除了表示路径其他都结尾都需要添加:
	规则三
	表示列表项使用一个短横杠加一个空格，多个组成同一列表
	jinja2(尖尖模板)
	cd /srv/salt/base
	vi dns.sls
	修改为尖尖模板
	/etc//resolv.conf:
	  file.managed:
	    - source: salt://files/resolv.conf
	    - user: root
	    - group: root
  	    - mode: 644
	    - template: jinja
	    - defaults:
	      DNS_SERVER: 10.0.0.2	//查看dns：cat /etc/resolv.conf
	修改resolv.conf
	vi files/resolv.conf
	nameserver {{ DNS_SERVER }}
	执行测试：salt '*' state.highstate
	vi /srv/salt/base/dns.sls
	DNS_SERVER: 10.0.0.3
	salt '*' state.highstate

	jinja里面使用grans
	vi /srv/salt/base/files/resolv.conf
	# {{ grains[' fqdn_ip4']}}
	salt '*' state.highstate
	还可以使用执行模块，pillar
                            </ol>
                        </pre>
                    </div>
                    <div class="section" id="xtcsh">
                        <h2>系统初始化</h2>
                        <pre class="prettyprint linenums">
                            <ol class="linenums">
系统初始化/功能模块/业务模块
	建议所有机器初始化工作放在base环境中
	cd /srv/salt/base
	1.base目录下文件结构
		mkdir init
		top.sls
	cp /tmp/dns.sls init/		//将dns文件放置初始化目录下
	去掉template模板后的dns.sls文件内容如下
	/etc/resolv.conf:
	  file.managed:
	    - source: salt://init/files/resolv.conf
	    - user: root
	    - group: root
	    - mode: 644
	切记做完配置后，记得创建文件
	mkdir files
	cp /etc/resolv.conf files/
	2.记录历史执行命令信息
	vi history.sls
	/etc/profile:
	  file.append:
	    - text:
	      - export HISTTIMEFORMAT="%F %T whoami "
	3.添加到用户登陆后加载文件中
	vi audit.sls
	/etc/bashrc:
	  file.append:
	    - text:
	      - export PROMPT_COMMAND='{ msg=$(history 1 | { read x y,echo $y, }),logger
		"[euid=$(whoami)]":$(who am i):['pwd']"$msg",}'
	4.优化系统内核参数
	vi sysctl.sls
	vm.swappiness:
	  sysctl.present:
	    - value: 0
	net.ipv4.ip_local_port_range:
	  sysctl.present:
	    - value: 10000 65000

	fs.file-max:
	  sysctl.present:
	    - value: 100000
	5.创建一个总文件，包含上述文件
	vi env_init.sls
	include:
	  - init.dns
	  - init.history
	  - init.audit
	  - init.sysctl
	6.将总文件放入topfile文件中
	vi top.sls
	base:
	  '*':
	  - init.env_init
	7.测试运行命令
	salt '*' state.highstate test=True
	然后可以执行命令
	salt '*' state.highstate
                            </ol>
                        </pre>
                    </div>
                    <div class="section" id="gnmk">
                        <h2>功能模块</h2>
                        <pre class="prettyprint linenums">
                            <ol class="linenums">
功能模块
	haproxy:负载均衡
	keepalived：高可用
	放在prod生产环境下
	mkdir /srv/salt/prod/pkg
	mkdir /srv/salt/prod/haproxy
	mkdir /srv/salt/prod/haproxy/files
	cd /srv/salt/prod/pkg
	vi pkg-init.sls
	pkg-init:
	  pkg.installed:
	    - names:
	      - gcc
	      - gcc-c++
	      - glibc
	      - make
	      - autoconf
	      - openssl
	      - openssl-devel
	rz:快捷上传命令
	将haproxy.tar上传至/srv/salt/prod/haproxy/files
	解压至/usr/local/src
	vi haproxy/example/haproxy.init
	BIN=/usr/local/haproxy/sbin/$BASHNAME
	拷贝至haproxy初始化文件处：cp haproxy.init /srv/salt/prod/haproxy/files
	cd /srv/salt/prod/haproxy
	vi install.sls
	include:
	  - pkg.pkg-init

	haproxy-install:
	  file.managed:
	    - name: /usr/local/srv/haproxy-1.6.2.tar.gz
	    - source: salt://haproxy/files/haproxy-1.6.2.tar.gz
	    - user: root
	    - group: root
'	    - mode: 755
	  cmd.run:
	    - name: cd /usr/local/src  && tar -zxvf haproxy-1.6.2.tar.gz  &&
	&& makr TARGET=linux26 PREFIX=/usr/local/haproxy  && make install PREFIX=/usr/local/haproxy

	判断命令1
	状态模块：状态间关系
	功能：条件判断，主要用于cmd状态模块
	常用方法
	onlyif：检查命令，当该命令返回true，则执行name定义的命令
	unless：检查命令，当该命令返回false，则执行name定义的命令

	一个haproxy安装例子
	include:
	  - pkg.pkg-init	//添加依赖

	haproxy-install:
	  file.managed:
	    - name: /usr/local/src/haproxy-1.6.2.tar.gz
	    - source: salt://haproxy/files/haproxy-1.6.2.tar.gz
	    - user: root
	    - group: root
	    - mode: 755
	  cmd.run:
	    - name: cd /usr/local/src  && tar -zxvf haproxy-1.6.2.tar.gz  &&
	&& makr TARGET=linux26 PREFIX=/usr/local/haproxy  && make install PREFIX=/usr/local/haproxy
	    - unless: test -d /usr/local/haproxy
	    - require:
	      - pkg: pkg-init
	      - file:  haproxy-insatll

	haproxy-init:
	  file.managed:
	    - name: /etc/init.d/haproxy
	    - source: salt://haproxy/files/haproxy.init
	    - user: root
	    - group: root
	    - mode: 755
	    - require:
	      - cmd: haproxy-install
	  cmd.run:
	    - name: ckhconfig --add haproxy
	    - unless: chkconfig --list |grep haproxy
	    - require:
	      - file: haproxy-init

	net.ipv4.ip_nonlocal_bind:
	  sysctl.present:
	    - value: 1

	haproxy-config-dir:
	  file.directory:
	    - name: /etc/haproxy
	    - user: /root
	    - group: root
	    - mode: 755

	手动执行：salt 'linux-node1,*' state.sls haproxy.install env=prod	（默认base路径）
                            </ol>
                        </pre>
                    </div>
                    <div class="section" id="ywyy">
                        <h2>业务引用</h2>
                        <pre class="prettyprint linenums">
                            <ol class="linenums">
业务引用
	mkdir /srv/salt/prod/cluster
	mkdir /srv/salt/prod/cluster/files
	cd /srv/salt/prod/cluster/files
	vi haproxy-outside.cfg		//网上下载文件
	配置文件管理(依赖)/服务的管理
	cd /srv/salt/prod/cluster
	vi haproxt-outside.sls
	//将haproxy安装文件包含进来
	include:
	  - haproxy.install

	//将配置文件放入并启动
	haproxy-service:
	  file.managed:
	  - name: /etc/haproxy/haproxy.cfg
	  - source: salt://cluster/files/haproxy-outside.cfg
	  - user: root
	  - group: root
	  - mode: 644
	service.running:
	  - name: haproxy
	  - enable: True	//开机自启动
	  - reload: True	//允许reload
	  - require:
	    - cmd: haproxy-init
	  -watch:		//监听配置文件，改变后自动reload
	    - file: haproxy-service

	//编辑top.sls
	vi /srv/salt/base/top.sls
	base:
	  '*':
	    - init.env_init

	prod:
	  'linux-node1.example.com':
	    - cluster.haproxy-outside
	  'linux-node2.example.com':
	    - cluster.haproxy-outside
	或者
	   'linux-node?.example.com':
	    - cluster.haproxy-outside
	或者
	  'linux-node[1-2].example.com':
	    - cluster.haproxy-outside
	salt '*' state.highstate test=True	//测试执行
	查看端口：netstat -ntlp
	访问haproxy：10.0.0.7:8888/haproxy-status
	查看配置haproxy配置用户名：vi /srv/salt/prod/cluster/files/haproxy-outside.cfg
	健康检查：curl --head http://10.0.0.7:8080
	可以查看访问链接的返回状态码
	如果是403的话，修改vi /var/www/html/index.html文件
                            </ol>
                        </pre>
                    </div>
                    <div class="section" id="kd">
                        <h2>keeeplived</h2>
                        <pre class="prettyprint linenums">
                            <ol class="linenums">
keeeplived
	系统初始化/功能/业务三模块的层次结构
	  -  cluster
	    - files
	      haproxy-outside.cfg	//源码包/配置文件
	    haproxy-outside.sls		//外网负载均衡配置

	  - haproxy
	    - files
	      - haproxy-1.6.2.tar.gz
	      - haproxy.init
	    - install.sls		//安装文件

	  - pkg
 	    - pkg-init.sls		//所有包的安装
	wget 下载链接->直接下载安装包到linux
	解压keeplived安装包后执行配置命令
	./configure --prefix=/usr/local/keeplived --disable-fwmark
	make & make install
	vi /usr/local/src/keepalives-1.2.19/keepalived/etc/init.d/keeplived.init
	mkdir /srv/salt/prod/keepalived
	mkdir /srv/salt/prod/keepalived/prod/keepalived/files
	cp init.d/keepalived.init /srv/salt/prod/keepalived/files/
	cp keepalived/keepalived.conf /srv/salt/prod/keepalived/files
	cd /srv/salt/prod/keepalived/files
	vi keepalived.init	//修改keepalilved启动脚本
	daemon /usr/local/keepalived/sbin/keepalived ${KEEPALIVED_OPTIONS}
	cd /srv/salt/prod/keepalived
	//放置文件
	cd /usr/local/keepalived/etc/sysconfig
	cp keepalived /srv/salt/prod/keepalived/files/keepalived.sysconfig
	cp /usr/local/src/keepalived-1.2.19.tar.gz . (当前位置是files路径)放置tar包

	vi install.sls
	keepalived-install:
	  file.managed:
	    - name: /usr/local/src/keepalived-1.2.19.tar.gz
	    - source: salt://keepalived/files/keepalived-1.2.19.tar.gz
	    - user: root
	    - group: root
	    - mode: 755
	  cmd.run:
	    - name: cd /usr/local/src && tar -zxvf keepalived-1.2.19.tar.gz && cd keepalived-1.2.19
	    		&& ./configure --prefix=/usr/local/keepalived --disable-fwmark && make && make installl
	  - unless: test -d /usr/local/keepalived
	  - require:
	    - pkg: pkg-init
	    - file: keepalived-install
	keepalived-init:
	  file.managed:
	    - name: /etc/init.d/keepalived
	    - source: salt://keepalived/files/keepalived.init
	    - user: root
	    - group: root
	    - mode: 755
	  cmd.run:
	    - name: chkconfig --add keepalived
	    - unless: chkconfig --list | grep keepalived
	    - require:
	      - file: keepalived-init
	/etc/sysconfig/keepalived:
	  file.managed:
	    - source: salt://keepallived/filed/keepalived.sysconfig
	    - user: root
	    - group: root
	    - mode: 644
	/etc/keepalived:
	  file.directory:
	    - usere: root
	    - group: root
	    - mode: 755

	salt '*' state.sls keepalived.install env=prod
                            </ol>
                        </pre>
                    </div>
                    <div class="section" id="ywyyk">
                        <h2>业务引用keepalived</h2>
                        <pre class="prettyprint linenums">
                            <ol class="linenums">
业务引用keepalived
	cd /srv/salt/prod/cluster
	vi haproxy-outside-keepalived.sls
	include:
	  - keepalived.install

	keepalived-service:
	  file.managed:
	    - name: /etc/keepaliveed/keepalived.conf
	    - source: salt://cluster/files/haproxy-outside-keepalived.conf
	    - user: root
	    - group: root
	    - mode: 644
	    - template: jinjia
	    {% if grains['fqdn'] == 'linux-node1.example.com' %}
	    - ROUTEID: haproxy_ha
	    - STATEID: MASTER
	    - PRIORITYID: 150
	    {% elif grains['fqdn'] == 'linux-node2.example.com' %}
	    - ROUTEID: haproxy_ha
	    - STATEID: BACKUP
	    - PRIORITYID: 100
	  service.running:
	    - name: keepalived
	    - enable: True
	    - watch:
	      - file: keepalived-service
	编辑top.file
	  prod:
	    'linux-node1.example.com':
	      - cluster.haproxy-outside
	      - cluster.haproxy-outside-keepallived（新增加）
	    'linux-node2-example.com':
	      - cluster.haproxy-outside
	      - cluster.haproxy-outside-keepalived（新增加）

	cd files/
	vi haproxy-outside-keepalived.conf
	！Configuration File for keepalived
	global_defs {
	  notification_email {
		saltstack@example
	  }
	  notification_email_from keepalived@example.com
	  smtp_server 127.0.0.1
	  smtp_connect_timeout 30
	  router_id {{ROUTEID}}
	}

	vrrp_instance haproxy_ha {
	state {{STATEID}}
	interface eth0
		virtual_router_id 36
	priority {{PRIORITYID}}
		advert_int 1
	authentication {
	auth_type PASS
			auth_pass 1111
		}
		virtual_ipaddress {
			10.0.0.11
		}
	}
                            </ol>
                        </pre>
                    </div>
                    <div class="section" id="zjzabbix">
                        <h2>增加zabbix</h2>
                        <pre class="prettyprint linenums">
                            <ol class="linenums">
增加zabbix
	cd /srv/salt/base/init
	vi zabbix_agent.sls
	zabbix-agent-install:
	  pkg.install:
	    - name: zabbix-agent
	  file.managed:
	    - name: /etc/zabbix/zabbix_agent.conf
	    - source: salt://init/filed/zabbix_agent.conf
	    - template: jinja
	    - defaults:
	      Server: {{ pillar['zabbix-agent']['Zabbix-Server'] }}
	    - require:
	      - pkg: zabbix-agent-install
	  service.running:
	    - name: zabbix-agent
	    - enable: True
	    - watch:	//监听配置文件，如果改变重启
	      - pkg: zabbix-agent-install
	      - file: zabbix-agent-install
	//创建pillar
	vi /etc/salt/master
	pillar_roots:
	  base:
	    - /srv/pillar/base
	mkdir /srv/pillar/base
	/etc/init.d/salt-master restart
	cd /srv/pillar/base
	vi top.sls
	base:
	  '*':
	    - zabbix
	vi zabbix.sls
	zabbix-agent:
	  Zabbix_Server: 10.0.0.7
	cd /srv/salt/base/init/files
	cp /etc/zabbix/zabbix_agentd.conf  .
	vi /etc/zabbix/zabbix_agentd.conf
	Server={{ Server }}
	cd /srv/salt/base/init
	vi env_init.sls
	追加：
	- init.zabbix_agent
	执行状态： salt '*' state.highstate
                            </ol>
                        </pre>
                    </div>
                    <div class="section" id="jgkz">
                        <h2>架构扩展</h2>
                        <pre class="prettyprint linenums">
                            <ol class="linenums">
架构扩展
	注意：syndic必须运行再master上面
	10.0.0.8minion上面安装
	yum install salt-master salt-syndic
	vi /etc/salt/master
	将马仔这里改成老大IP
	syndic_master:10.0.0.7
	启动
	/etc/init.d/salt-master start
	/etc/init/d/salt-stndic start
	再10.0.0.7(老大)
	vi /etc/salt/master
	order_masters: True
	重新启动 /etc/init.d/salt-master restart
	将两台机器的minion服务停掉
	/etc/init.d/salt-minion stop
	//两台机器均清理环境
	salt-key
	salt-key -D
	cd /etc/salt/pki/minion
	rm -rf *	//清理公钥私钥
	//思想:.7是老大，管理.8(马仔)，.8管理的是.7和.8的小弟
	将.7和.8的minion中master都改成.8
	vi /etc/salt/minion
	//两台机器启动minion
	/etc/init.d/salt-minion start
	//两台机器salt-key查看手下小弟
	salt-key
	//两台机器各自接收小弟
	salt-key -A	//手下堂口小弟，建立关系
	//测试堂口下小弟
	salt '*' test.ping
	salt '*' cmd.run 'w'
	思想:总监，秘书，经理，运维工程师
	总监->秘书->经理->运维工程师->秘书->总监
	校长收钱->班长(syndic)->老师->学生->班长->校长
                            </ol>
                        </pre>
                    </div>
                    <div class="section" id="syndic">
                        <h2>去掉两台机器的syndic</h2>
                        <pre class="prettyprint linenums">
                            <ol class="linenums">
去掉两台机器的syndic
	10.0.0.7
	/etc/init.d/salt-minion stop
	/etc/init.d/salt-master stop
	10.0.0.8
	/etc/init.d/salt-minion stop
	/etc/init.d/salt-master stop
	/etc/init.d/salt-syndic stop
	//清理.7和.8两台机器上的文件
	cd /etc/salt/pki
	mv * /tmp
	//注释文件.7
	vi /etc/salt/master
	# order_masters: True
	//修改minion文件
	.7
	vi /etc/salt/minion
	master: 10.0.0.7
	.8
	vi /etc/salt/minion
	master: 10.0.0.7
	//启动服务
	,7
	/etc/init.d/salt-master start
	/etc/init.d/salt-minion start
	.8
	/etc/init.d/salt/salt-minion start
	//接收合并请求
	salt-key -A
	salt '*' test.ping
	//编写grains，返回的是字典
	测试一下：salt '*' grains.item fqdn
	//开始编写前的配置
	cd /srv/salt/base
	mkdir _grains
	cd _grains
	vi my_grains.py
	def my_grains():
	  '''
	  my custom grains
	  '''
	  grains = { 'hehe1':'haha1','hehe2':'haha2' }
	  return grains
	同步至各机器上
	salt '*' saltutil.sync_grains
	该py脚本同步后会保存再/var/cache/salt/minion/extmods/grains
	//测试执行
	salt '*' grains.item hehe1
	//编写模块(常用)
	cd /srv/salt/base
	mkdir _modules
	//所有salt执行模块存放位置
	cd /usr/lib/python2.6/site-packages/salt/modules
	vi my_disk.py
	def list():
	  cmd = 'df -h'
	  ret = __salt__['cmd.run'](cmd)
	  return ret
	下发到各个minion
	salt '*' saltutil.sync_modules
	执行该命令，查看结果
	salt '*' my_disk.list
                            </ol>
                        </pre>
                    </div>
                    <div class="section" id="etcd">
                        <h2>etcd模块</h2>
                        <pre class="prettyprint linenums">
                            <ol class="linenums">
自动化扩容(etcd模块)
	cd /usr/local/src
	rz命令上传文件
	将etcd.tar.gz上传至该目录
	tar -zxvf etcd.tar.gz
	cd etcd.tar.gz
	将etcd命令设置为可执行命令  cp etcd etcdct1  /usr/local/bin
	cd	回到用户家目录
	mkdir -p /data/etcd
	nohup etcd --name auto_scale --data-dir /data/etcd/ \
	--listen-peer-urls 'http://10.0.0.7:2380,http://10.0.0.7:7001' \
	--listen-client-urls 'http://10.0.0.7:2379,http://10.0.0.7:4001' \
	--advertise-client-urls 'http://10.0.0.7:2379,http://10.0.0.7:4001' &
	netstat -ntlp |grep etcd
	1.设置key
	curl -s http://10.0.0.7:2379/v2/keys/message -XPUT -d
	value="hello world" |python -m json.tool
	2.获取key
	curl -s http://10.0.0.7:2379/v2/keys/message |python -m json.tool
	3.删除
	curl -s http://10.0.0.7:2379/v2/keys/message -XDELETE |python -m json.tool
	4.定时失效key
	curl -s http://10.0.0.7:2379/v2/keys/tt1_use -XPUT -d value="hello world" -d tt1=5 |python -m json.tool
                            </ol>
                        </pre>
                    </div>
                    <div class="section" id="zdhkr">
                        <h2>自动化扩容</h2>
                        <pre class="prettyprint linenums">
                            <ol class="linenums">
vi /etc/salt/master
在最后面添加
etcd_pillar_config:
  etcd.host: 10.0.0.7
  etcd.port: 4001

ext_pillar:
  - etcd: etcd_pillar_config root=/salt/haproxy/
重启master /etc/init.d/salt-master restart
curl -s http://10.0.0.7:2379/v2/keys/salt/haproxy/backend_www_oldboyedu_com/web-node1
-XPUT -d value="10.0.0.7:8080" 	|python -m json.tool
测试
salt '*' pillar.items
如果不成功，因为缺少依赖
yum install -y python-etcd
/etc/init.d/salt-master restart
测试：salt '*' pillar.items
出现web-node1即成功
访问haproxy
10.0.0.7:8888/haproxy-status
vi /src/salt/prod/cluster/files/haproxy-outside.cfg
在balance roundrobin下面
{% for web,web_ip in pillar.backend_www)oldboyedu_com.iteritems() %}
server {{web}} {{web_ip}} check inter 2000 rise 30 fall 15
{% endfor %}
vi /src/salt/prod/cluster/haproxy-outside.sls
在file.managed文件管理里面的haproxy.cfg中声明该文件为jinja模板
file.managed:
  - template: jinja
执行状态
salt '*' state.highstate
如果遇到failed请重新启动master
/etc/init.d/salt-master restart
salt '*' state.highstate   -->成功
自动化扩容添加机器步骤
1.向etcd中添加key
curl -s http://10.0.0.7:2379/v2/keys/salt/haproxy/backend_www_oldboyedu_com/web-node2/3/4
-XPUT -d value="10.0.0.7:8080" 	|python -m json.tool
执行状态：
salt '*' state.highstate
或者
salt '*' state.sls cluster.haproxy-outside env=prod
                            </ol>
                        </pre>
                    </div>
                    <div class="section" id="zj">
                        <h2>总结</h2>
                        <pre class="prettyprint linenums">
                            <ol class="linenums">
总结
	检查安装etcd	netstat -ntlp |grep etcd
	修改salt_master配置文件
	vi /etc/salt/master
	添加etcd_pillar_config: ---> ext_pillar:
	重启master
	/etc/init.d/salt-master restart
	如果出现很多etcd的情况，可能是因为将pillar_opts:False改变了
	使用curl添加一个key
	查看添加key
	salt '*' pillar.items
	修改haproxy配置文件
	vi /srv/salt/prod/cluster/files/haproxy-outside.cfg
	修改haproxy-outside.sls
	vi /srv/salt/prod/cluster/haproxy-outside.sls
	添加haproxy-outside.cfg为jinja模板
	- template: jinja
	最后执行状态即可
	salt '*' state.sls cluster.haproxy-outside env=prod

	//使用shell脚本实现
	调试状态	bash -x auto.sh
	#!/bin/bash

	MAIN_ADD_HOST=$1
	create_host(){
		echo "create host"
	}

	deply_service(){
		# salt 'linux-node2.example.com' state.sls nginx.install env=prod
		ADD_HOST_PORT="8080"
	}

	deploy_code(){
		echo "deploy code ok"
	}

	service_check(){
		STATUS=$(curl -s --head http://"$ADD_HOST":"$ADD_HOST_PORT"/ |grep '200 OK')
		if [ -n "$STATUS" ],then
			echo "ok"
		else
			echo "not ok"
			exit
		fi
	}

	etcd_key(){
		ADD_HOST=$1
		curl http://10.0.0.7:2379/v2/keys/salt/haproxy/backend_www_oldboyedu_com/$ADD_HOST -XPUT -d
		value="10.0.0.8:$ADD_HOST_PORT"
	}

	sync_state（）{
		salt 'linux-node1.example.com' state.sls cluster..haproxy-outside env=prod
	}

	main(){
		create_host;
		deploy_service;
		deploy_code;
		etcd_key MAIN_ADD_HOST;
		sync_state;
	}

	main $1
                            </ol>
                        </pre>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
	<!--jquery-->
	<script src="../../../../js/index/jquery-3.3.1.min.js"></script>
	<!--jquery.nav-->
	<script src="../../../../product/jqueryui/jquery.nav.js"></script>
	<!--jqueryui-->
	<script src="../../../../product/jqueryui/jquery-ui.min.js"></script>

    <script>
        $( "#nav" ).accordion({
            collapsible: true
        });
        $(function(){
            $('#nav').onePageNav();
        });
    </script>
</html>